pypdf
langchain-core
langchain-text-splitters
langchain-chroma
chromadb
langchain-huggingface
sentence-transformers
langchain-groq
langchain
python-dotenv
ragas
datasets
langchain-community
fastapi
uvicorn
aiofiles
